@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Press Start 2P';
}
main{
    display:flex;
    height:100%;
    width: 100%;
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}


.container{
width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0px 10px 0px 10px;
    /* grid-template-columns: repeat(8,1fr); */
    align-items: center;
    justify-content: center;
    padding: 5px;
        background-color: rgba(0, 0, 0, 0.600);
        border-radius: 15px;
        border: 1px solid #ccc;
        max-height: 970px;
}
.game_over{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: #ccc;
        padding: 15px;
        margin: 0px 10px 0px 10px;
        background-color: rgba(0, 0, 0, 0.600);
        border-radius: 15px;
        border: 1px solid #ccc;
}
.Level_complete{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #ccc;
    padding: 15px;
    margin: 0px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: opacity 2s linear;
}
.rankig{
    list-style: none;
}
.rankig li{
    list-style: none;
    padding:15px;
}
.next{
    border-radius: 15px;
        border: 2px solid #ccc;
        padding:15px;
}
.next:hover{
    cursor: pointer;
    /*-webkit-text-stroke: 1px rgb(0, 0, 0);*/
    font-size: 25px;
}
.container-info-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    width:15%;
    color: #ccc;
    padding:15px;
    background-color:rgba(0, 0, 0, 0.600);
    border-radius:15px;
    border:1px solid #ccc;
}
.container-info-player h1,span{
    color: #ccc;
    padding:4px;
    font-size: 20px; 
    font-weight: bold;
    margin: 9px;
}
.avatar {
    padding: 5px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}
.card {
    min-width: 10px;
    min-height: 20px;
    width:80px;
    height:120px;
    max-width: 120px;
    max-height:180px;
}
@media (max-width: 600px) {
    .card {
        width: 40px;
        height: 60px;
    }
}
.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card__inner.is-flipped {
    transform: rotateY(180deg);
}
.card__inner.is-disabled .eye-image{
    height:100%;
    width:100%;
    opacity: 0.5;
    background-color: grey;
    background-image: url('./img/icon-view.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
        border-radius: 8px;
}

.card__face--back {
    /*background-image: url('img/cardFront1.JPG');*/
    transform: rotateY(180deg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
